AddHandler cgi-script htpasswd
AuthType Basic
AuthName "Hello leh...Please input IDPW" 
AuthUserFile "/home/soratoworks/soratoworks.xsrv.jp/public_html/preview_leh/htpasswd/.htpasswd" 
require valid-user